
.gitignore.bak
.vs/curl/v14/.suo
obj/Debug/curl.csproj.FileListAbsolute.txt
obj/Debug/curl.exe
obj/Debug/curl.pdb
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/curl.csprojResolveAssemblyReference.cache
bin/Debug/curl.vshost.exe
bin/Debug/curl.pdb
bin/Debug/curl.exe
bin/Debug/curl.vshost.exe.manifest
obj/Debug/curl.csproj.CoreCompileInputs.cache
bin/Debug/test.db
.vs/curl/v15/Server/sqlite3/storage.ide
.vs/curl/v15/Server/sqlite3/db.lock
.vs/curl/v15/.suo
.gitattributes
.vs/curl/v15/Server/sqlite3/storage.ide-shm
.vs/curl/v15/Server/sqlite3/storage.ide-wal
